@charset "UTF-8";
@font-face {
  font-family: 'Gilroy-Bold';
  src: url("../fonts/gilroy-bold.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-bold.woff2") format("woff2"), url("../fonts/gilroy-bold.woff") format("woff"), url("../fonts/gilroy-bold.ttf") format("truetype"), url("../fonts/gilroy-bold.svg#gilroy-bold") format("svg");
  /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url("../fonts/gilroy-medium.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-medium.woff2") format("woff2"), url("../fonts/gilroy-medium.woff") format("woff"), url("../fonts/gilroy-medium.ttf") format("truetype"), url("../fonts/gilroy-medium.svg#gilroy-medium") format("svg");
  /* Chrome < 4, Legacy iOS */
}

* {
  font-family: 'Khula', sans-serif;
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  font-family: Gilroy-Bold;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

li {
  font-family: Gilroy-Medium;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #070707;
  margin: 0;
  padding: 0;
}

.btn-three {
  color: Black;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
}

.btn-three a {
  text-decoration: none;
  font-family: Gilroy-Medium;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

.btn-three::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-three:hover::before {
  opacity: 0;
  -webkit-transform: scale(0.5, 0.5);
          transform: scale(0.5, 0.5);
}

.btn-three::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.btn-three:hover::after {
  opacity: 1;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

#toTop {
  position: fixed;
  display: inline-block;
  bottom: 30px;
  right: -40px;
  width: 40px;
  height: 40px;
  z-index: 1000;
  cursor: pointer;
  text-align: center;
  color: #080505;
  border-radius: 4px;
  background: #bbbdbb;
  -webkit-box-shadow: 0 0 0 3px rgba(212, 208, 208, 0.089);
          box-shadow: 0 0 0 3px rgba(212, 208, 208, 0.089);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#toTop:hover {
  background: #121412;
}

#toTop svg {
  position: relative;
  top: 12px;
  right: -1px;
  fill: #fff;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#toTop:hover svg {
  cursor: pointer;
  fill: #fff;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#toTop.show {
  opacity: 1;
  visibility: visible;
  right: calc(2%);
}

header {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #d1cfcf;
  min-height: 70px;
}

.nav__menu {
  width: 1320px;
  height: auto;
  margin-top: 30px;
}

.nav__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__menu ul li {
  list-style: none;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.nav__menu ul li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform border 0.3s;
  transition: -webkit-transform border 0.3s;
  transition: transform border 0.3s;
  transition: transform border 0.3s, -webkit-transform border 0.3s;
}

.nav__menu ul a {
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
  font-family: Gilroy-Medium;
  font-size: 18px;
  line-height: 22px;
  color: #070707;
  text-decoration: none;
}

.menu__icon {
  display: none;
}

.menu__body {
  display: none;
}

.main__wrapper {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.name {
  font-family: Gilroy-Bold;
  font-size: 48px;
  line-height: 59px;
  color: #070707;
}

.wrapper__profession p {
  font-family: Gilroy-Medium;
  font-size: 18px;
  line-height: 22px;
  color: #070707;
}

.ru-en {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 38px;
  height: 30px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.ru-en .en {
  font-family: Gilroy-Bold;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 5px;
  color: #070707;
  text-decoration: none;
  padding-left: 10px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.ru-en .en:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.ru-en .ru {
  font-family: Gilroy-Bold;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 5px;
  color: #070707;
  text-decoration: none;
  padding-left: 10px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.ru-en .ru:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.ru-en .active {
  color: red;
  font-size: 20px;
}

.wrapper__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper__photo img {
  width: 100%;
  height: auto;
  width: 200px;
  height: 350px;
}

.about-me {
  height: 100%;
  height: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F6F6F6;
  padding-top: 30px;
}

.about-me h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.about-me .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 485px;
  max-height: 220px;
}

.about-me p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Gilroy-Medium;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;
  margin-bottom: 20px;
}

.Skills {
  height: 506px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Skills__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Skills__container h2 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.skills__logo {
  width: 100%;
  max-width: 500px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills__logo ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.skills__logo ul li {
  cursor: pointer;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.skills__logo ul li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.projects {
  width: 100%;
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.projects ul {
  margin: 0;
  padding: 15px;
  list-style: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects ul li {
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.projects ul li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.industry__title {
  margin: 0;
}

.industry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 900px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.industry ul {
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.industry li::before {
  content: '|';
  padding-right: 5px;
}

.industry li:first-child::before {
  content: '';
}

.experience {
  height: 100%;
  height: 406px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F6F6F6;
}

.experience h2 {
  margin-top: 30px;
}

.experience__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.education {
  height: 100%;
  height: 406px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}

.education h2 {
  margin-top: 30px;
}

.education__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* -----------------------------------------------
 * Тайм-Лайн
 * --------------------------------------------- */
.timeline {
  z-index: 1;
  list-style: none;
  padding: 10px 0;
  position: relative;
  font-weight: 300;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 2px;
  background: #091921;
  left: 50%;
  margin-left: -1.5px;
}

.timeline-panel {
  z-index: 1;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
  width: 50%;
  float: left;
  clear: left;
}

.timeline > li:before, .timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before, .timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  z-index: 1;
  width: calc(100% - 25px);
  width: -webkit-calc(100% - 25px);
  float: left;
  border: 1px solid #dcdcdc;
  background: #ffffff;
  position: relative;
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #dcdcdc;
  border-right: 0 solid #dcdcdc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #ffffff;
  border-right: 0 solid #ffffff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  color: #ffffff;
  width: 24px;
  height: 24px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 16px;
  right: -12px;
  z-index: 100;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-badge > a {
  color: #ffffff !important;
}

.timeline-badge a:hover {
  color: #dcdcdc !important;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-heading h4 {
  font-weight: 400;
  margin: 0;
  margin-top: 10px;
  color: #070707;
}

.timeline-body > p, .timeline-body > ul {
  padding: 10px 15px;
  margin-bottom: 0;
}

.timeline-footer {
  padding: 5px 15px;
  background-color: #f4f4f4;
}

.timeline-footer p {
  margin-bottom: 0;
}

.timeline-footer > a {
  cursor: pointer;
  text-decoration: none;
}

.timeline > li.timeline-inverted {
  float: right;
  clear: right;
}

.timeline > li:nth-child(2) {
  margin-top: 60px;
}

.timeline > li.timeline-inverted > .timeline-badge {
  left: -12px;
}

.no-float {
  float: none !important;
}

@media (max-width: 767px) {
  ul.timeline:before {
    left: 40px;
    z-index: 1;
  }
  ul.timeline > li {
    z-index: 1;
    margin-bottom: 0px;
    position: relative;
    width: 100%;
    float: left;
    clear: left;
  }
  ul.timeline > li > .timeline-panel {
    width: calc(100% - 65px);
    width: -webkit-calc(100% - 65px);
  }
  ul.timeline > li > .timeline-badge {
    left: 28px;
    margin-left: 0;
    top: 16px;
  }
  ul.timeline > li > .timeline-panel {
    float: right;
  }
  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
  .timeline > li.timeline-inverted {
    float: left;
    clear: left;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-badge {
    left: 28px;
  }
}

.footer {
  height: 100%;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F6F6F6;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer h2 {
  margin-top: 30px;
}

.footer span {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Gilroy-Medium;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;
}

.footer .button {
  margin-bottom: 20px;
}

.contacts {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.637);
  border-radius: 10px;
  width: 300px;
  height: 38px;
  -webkit-transition: background 0.5s,  -webkit-transform 0.5s;
  transition: background 0.5s,  -webkit-transform 0.5s;
  transition: transform 0.5s,  background 0.5s;
  transition: transform 0.5s,  background 0.5s,  -webkit-transform 0.5s;
}

.email_main {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
}

.phone {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.637);
  border-radius: 10px;
  width: 300px;
  height: 38px;
  -webkit-transition: background 0.5s,  -webkit-transform 0.5s;
  transition: background 0.5s,  -webkit-transform 0.5s;
  transition: transform 0.5s,  background 0.5s;
  transition: transform 0.5s,  background 0.5s,  -webkit-transform 0.5s;
}

.phone_main {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 16px;
  color: #FFFFFF;
  text-decoration: none;
}

.web_site {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.637);
  border-radius: 10px;
  width: 300px;
  height: 38px;
  -webkit-transition: background 0.5s,  -webkit-transform 0.5s;
  transition: background 0.5s,  -webkit-transform 0.5s;
  transition: transform 0.5s,  background 0.5s;
  transition: transform 0.5s,  background 0.5s,  -webkit-transform 0.5s;
}

.web_main {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 16px;
  color: #FFFFFF;
  text-decoration: none;
}

.social_networks {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.637);
  border-radius: 10px;
  width: 300px;
  height: 38px;
}

.social_networks ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social_networks ul li {
  padding-right: 32px;
}

.social_networks ul li:last-child {
  padding-right: 0;
}

.socia_main {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 10px;
  color: #FFFFFF;
  text-decoration: none;
}

.socia_logo {
  width: 24px;
  height: 24px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.email:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: #253846;
  -webkit-transition: background 0.5s,  -webkit-transform 0.5s;
  transition: background 0.5s,  -webkit-transform 0.5s;
  transition: transform 0.5s,  background 0.5s;
  transition: transform 0.5s,  background 0.5s,  -webkit-transform 0.5s;
}

.phone:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: #253846;
  -webkit-transition: background 0.5s,  -webkit-transform 0.5s;
  transition: background 0.5s,  -webkit-transform 0.5s;
  transition: transform 0.5s,  background 0.5s;
  transition: transform 0.5s,  background 0.5s,  -webkit-transform 0.5s;
}

.web_site:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: #253846;
  -webkit-transition: background 0.5s,  -webkit-transform 0.5s;
  transition: background 0.5s,  -webkit-transform 0.5s;
  transition: transform 0.5s,  background 0.5s;
  transition: transform 0.5s,  background 0.5s,  -webkit-transform 0.5s;
}

.social_networks ul li:hover span {
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  z-index: 1;
  -webkit-transition: visibility 0.5s;
  transition: visibility 0.5s;
}

.socia_logo:hover {
  opacity: 1;
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
  -webkit-transition: background 0.5s,  -webkit-transform 0.5s;
  transition: background 0.5s,  -webkit-transform 0.5s;
  transition: transform 0.5s,  background 0.5s;
  transition: transform 0.5s,  background 0.5s,  -webkit-transform 0.5s;
}

.RSSchool {
  margin-top: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.RSSchool img {
  width: 50px;
  height: 50px;
}

.RSSchool span {
  font-family: Gilroy-Medium;
  font-size: 18px;
  line-height: 22px;
  color: #070707;
}

@media (max-width: 1000px) {
  .Skills {
    width: 100%;
    height: 600px;
  }
  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 2px;
    background: #091921;
    left: 50%;
    margin-left: -1.5px;
  }
  .industry__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .industry__list li::before {
    content: "";
  }
}

@media (max-width: 767px) {
  .about-me {
    margin-bottom: 20px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 50px;
  }
  .experience {
    height: 600px;
  }
  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 2px;
    background: #091921;
    left: 50%;
    margin-left: -1.5px;
  }
  .education {
    height: 700px;
  }
  .about-me {
    margin-bottom: 30px;
  }
  .nav__menu {
    display: none;
  }
  .main__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__wrapper img {
    margin-bottom: 10px;
  }
  .wrapper__profession p {
    text-align: center;
  }
  .ru-en {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@media (max-width: 450px) {
  .about-me {
    padding-top: 10px;
    height: 400px;
  }
}

@media (max-width: 375px) {
  .experience {
    height: 700px;
  }
}

@media (max-width: 767px) {
  .menu__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 4%;
    right: 5%;
    width: 36px;
    height: 10px;
    cursor: pointer;
    z-index: 1000;
  }
  .menu__icon > span,
  .menu__icon > span::before,
  .menu__icon > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    -webkit-transition-duration: .25s;
            transition-duration: .25s;
  }
  .menu__icon > span::before {
    content: '';
    top: -8px;
  }
  .menu__icon > span::after {
    content: '';
    top: 8px;
  }
  .menu__body.active {
    left: 0;
  }
  .menu__icon.active > span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .menu__icon.active > span::before {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  .menu__icon.active > span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .menu__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    margin: 0;
    padding: 100px, 30px, 30px, 30px;
    -webkit-transition: left 0.5s ease 0s;
    transition: left 0.5s ease 0s;
    overflow: auto;
  }
  .menu__body ul {
    list-style: none;
  }
  .menu__body ul li {
    padding-bottom: 30px;
  }
  .menu__body ul li:last-child {
    padding-bottom: 0;
  }
  .menu__body ul li a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    padding-bottom: 40px;
  }
  .menu__body::before {
    z-index: 1000;
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    background-color: #fff;
  }
  .no_scroll {
    overflow: hidden;
  }
}
/*# sourceMappingURL=style.css.map */