@media (max-width: 685px) {
    body {
        width: 300px;
    }
    .castom_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .education {
        margin: 0;
        margin-top: 5px;
    }
}

@media (max-width: 400px) {
    .aboutMe {
        width: 350px;
    }
    .education {
        width: 350px;
    }
}