.experience {
    height: 100%;
    height: 406px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F6F6F6;
    & h2 {
        margin-top: 30px;
    }
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}










