header {
    // position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgb(209, 207, 207);
    min-height: 70px;
}

.nav__menu {
    width: 1320px;
    height: auto;
    margin-top: 30px;
    & ul {
        display: flex;
        justify-content: space-between;
        & li {
            list-style: none;
            transition: transform 0.3s;
        }
        & li:hover {
            transform: scale(1.2);
            transition: transform border 0.3s;
        }
        & a {
            transition: border 0.3s;
            font-family: $textFont;
            font-size: 18px;
            line-height: 22px;
            color: $tetxColor;
            text-decoration: none;
        }
    }
}

.menu__icon {
    display: none;
}

.menu__body {
    display: none;
}

